{% extends 'base.html' %}

{% block title %}Sistemas bidimensionales{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <h1>Sistemas bidimensionales</h1>
    <p>En esta aplicación vamos a estudiar la dinámica del siguiente sistema bidimensional</p>
    <img src="{{url_for('static', filename='images/bidimensional_system.png')}}">
    <p>A continuación introduce los valores de a y b</p>
    <div class="form">
        <form method="POST">
            <div class="col-auto">
                <label for="a" class="form-label">Introduce el valor a</label>
                <div class="d-flex flex-row range">
                    <input type="range" min="0" max="2" step="0.1" name="a" id="a" value="a" class="form-range" oninput="document.getElementById('value1').innerHTML = this.value">
                    <div class="value ps-2">
                        <p id="value1"></p>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <label for="b" class="form-label">Introduce el valor b</label>
                <div class="d-flex flex-row range">
                    <input type="range" min="0" max="2" step="0.1" name="b" id="b" value="b" class="form-range" oninput="document.getElementById('value2').innerHTML = this.value">
                    <div class="value ps-2">
                        <p id="value2"></p>
                    </div>
                </div>
            </div>
            <div class="col-auto button">
                <button class="btn btn-primary">Crear mapa</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
